<p>
  以下のメールアドレスにトレーナー申請を送りました。
</p>
<br>
<p>
  <%= @user.email %>
</p>
<br>
<p>
  トレーナー申請が承認されると<%= @trainer.nickname %>さんに
</p>
<p>
  その旨を伝えるメールが届きます。
</p>
<br>
<p>
  承認されるまで今しばらくお待ちいただきますよう
</p>
<p>
  よろしくお願いいたします。
</p>
<br>
<p>
  POPAI SEKINE
</p>
