<p>
  トレーナーから申請が届きました。
</p>
<br>
<p>
  トレーナーになってもらう場合は以下のリンク先で
</p>
<p>
  承認処理を完了させてください。
</p>
<br>
  <%= link_to "#{@trainer.nickname}さんにトレーナーになってもらう", confirm_users_trainer_requests_url(request_token: @trainer_request.request_token) %>
<br>
<p>
  POPAI SEKINE
</p>
