<% if comment.user_id == current_user.id %>
  <div class='row pt-2 text-nomal'>
    <div class='col-1 p-0 h-100'>
    </div>
    <div class='col-9 p-0 h-100'>
      <div class='ml-1 pt-0 pb-2 pl-2 float-right'>
        <%= comment.text %>
      </div>
    </div>
    <div class='col-2 p-0 h-100'>
      <%= image_tag 'popaisekine.jpg', class: 'rounded-circle comment-user-image mr-1 mx-auto d-block' %>
    </div>
  </div>
<% else %>
  <div class='row pt-2 text-nomal'>
    <div class='col-2 p-0 h-100'>
      <%= image_tag 'popaisekine.jpg', class: 'rounded-circle comment-trainer-image mr-1 mx-auto d-block' %>
    </div>
    <div class='col-9 p-0 h-100'>
      <div class='ml-1 pt-0 pb-2 pr-2'>
        <%= comment.text %>
      </div>
    </div>
    <div class='col-1 p-0 h-100'>
    </div>
  </div>
<% end %>
