<%= link_to 'logout', destroy_user_session_path, method: :delete, class: 'text-center' %>
<div class='col-12 vh-100 d-flex align-items-center'>
  <%= image_tag 'popaisekine.jpg', class: 'rounded-circle mx-auto d-block img-fluid' %>
</div>
