<%# <div class='container vh-100 d-flex align-items-center'> %>
<div class='container vh-100'>
  <div class='row m-5'>
    <div class='col-12'>
      <%= image_tag 'popaisekine.jpg', class: 'rounded-circle mx-auto d-block img-fluid' %>
    </div>
  </div>
  <div class='row m-5'>
    <div class='col-12 text-center'>
      <%= link_to 'レコード記録', new_record_path, class: 'h4' %>
    </div>
  </div>
  <div class='row m-5'>
    <div class='col-12 text-center'>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'h4' %>
    </div>
  </div>
</div>
