<% provide(:title, 'レコード詳細') %>
<div class='container mw-1024'>
  <div class='row'>
    <div class='col-12 mx-auto record p-0'>
      <div class='record-index form'>
        <div class='row bg-white p-3 record-show mx-auto'>
          <div class='col-12 mx-auto h-100 p-0'>
            <div class='row record-show-day text-center d-flex align-items-end'>
              <div class='col-12 mx-auto record-show-day-text'>
                <span class='text-royalgreen'>2019.06.20 FRI</span>
                <div class='record-edit'>
                  <i class='far fa-edit align-text-top text-fontgray'></i>
                </div>
              </div>
            </div>
            <div class='row record-show-detail'>
              <div class='col-12 p-0'>
                <div class='row'>
                  <ul class-'m-0'>
                    <li>腕 アームカール</li>
                    <li class='pl-2'>set1 12kg × 12reps</li>
                    <li class='pl-2'>set1 12kg × 12reps</li>
                  </ul>
                </div>
                <div class='row'>
                  <ul class-'m-0'>
                    <li>腕 アームカール</li>
                    <li class='pl-2'>set1 12kg × 12reps</li>
                    <li class='pl-2'>set1 12kg × 12reps</li>
                  </ul>
                </div>
                <div class='row'>
                  <ul class-'m-0'>
                    <li>腕 アームカール</li>
                    <li class='pl-2'>set1 12kg × 12reps</li>
                    <li class='pl-2'>set1 12kg × 12reps</li>
                  </ul>
                </div>
                <div class='row'>
                  <ul class-'m-0'>
                    <li>腕 アームカール</li>
                    <li class='pl-2'>set1 12kg × 12reps</li>
                    <li class='pl-2'>set1 12kg × 12reps</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class='row record-show-comment border-top border-bottom'>
              <div class='col-12 p-0 h-100 record-show-comment-outer'>
                <div class='row pt-2 text-nomal'>
                  <div class='col-2 p-0 h-100'>
                    <%= image_tag 'popaisekine.jpg', class: 'rounded-circle comment-trainer-image mr-1 mx-auto d-block' %>
                  </div>
                  <div class='col-9 p-0 h-100'>
                    <div class='ml-1 pt-0 pb-2 pr-2'>
                      今日の筋トレは最高だった。今日の筋トレは最高だった。今日の筋トレは最高だった。
                      <br>
                      自分史上最高だ。
                    </div>
                  </div>
                  <div class='col-1 p-0 h-100'>
                  </div>
                </div>
                <div class='row pt-2 text-nomal'>
                  <div class='col-1 p-0 h-100'>
                  </div>
                  <div class='col-9 p-0 h-100'>
                    <div class='ml-1 pt-0 pb-2 pl-2 float-right'>
                      今日の筋トレは最高だった。
                    </div>
                  </div>
                  <div class='col-2 p-0 h-100'>
                    <%= image_tag 'popaisekine.jpg', class: 'rounded-circle comment-user-image mr-1 mx-auto d-block' %>
                  </div>
                </div>
                <% 4.times do %>
                  <div class='row pt-2 text-nomal'>
                    <div class='col-2 p-0 h-100'>
                      <%= image_tag 'popaisekine.jpg', class: 'rounded-circle comment-trainer-image mr-1 mx-auto d-block' %>
                    </div>
                    <div class='col-9 p-0 h-100'>
                      <div class='ml-1 pt-0 pb-2 pr-2'>
                        今日の筋トレは最高だった。今日の筋トレは最高だった。今日の筋トレは最高だった。
                        <br>
                        自分史上最高だ。
                      </div>
                    </div>
                    <div class='col-1 p-0 h-100'>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class='row mt-2 record-show-comment-new'>
              <div class='col-10 p-0 h-100 border form-control'>
              </div>
              <div class='col-2 p-0 h-100 text-royalgreen text-center'>
                <i class='fas fa-paper-plane'></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
