$royalgreen: #00E7B6;
$fontgray: #7F7F7F;

.bg-royalgreen {
  background: $royalgreen;
}
.text-royalgreen {
  color: $royalgreen;
}
.text-fontgray {
  color: $fontgray;
}
.btn-royalgreen {
  background: $royalgreen;
}
