$royalgreen: #00E7B6;
$commentgreen: #7FFFD4;
$fontgray: #7F7F7F;
$icongray: #CFCFCF;
$whitegray: #F5F5F5;

.bg-royalgreen {
  background: $royalgreen;
}
.bg-commentgreen {
  background: $commentgreen;
}
.bg-whitegray {
  background: $whitegray;
}
.text-royalgreen {
  color: $royalgreen;
}
.text-fontgray {
  color: $fontgray;
}
.btn-royalgreen {
  background: $royalgreen;
}
.mono {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
