@import 'color';

// -----------------------------------
// 共通
// -----------------------------------
.mw-1024 {
  max-width: 1024px;
}

// -----------------------------------
// ヘッダー フッター
// -----------------------------------
.header {
  height: 3rem;
  line-height: 3rem;
  .fa-chevron-left {
    position: absolute;
    font-size: 1rem;
    line-height: 3rem;
    left: 1rem;
  }
}
.footer {
  height: 3rem;
  a:hover {
    color: $royalgreen;
  }
  .footer-icon {
    height: 1.5rem;
    line-height: 2rem;
  }
  .fa-list-alt, .fa-cog {
    font-size: 1rem;
  }
  .footer-text {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.5rem;
  }
  .footer-text-record {
    line-height: 0.7rem;
    font-size: 0.5rem;
  }
}
.user-body {
  background:rgba(0, 0, 0, 0.76);
}
// -----------------------------------
// サインアップ・ログインテンプレート
// -----------------------------------
.application-body {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background:rgba(0, 0, 0, 0.76);
}
a {
  text-decoration:none !important;
}
h1 {
  font-size: 15vmin;
}
label, p, a, li, .text-nomal {
  font-size: 0.5rem;
  color: $fontgray;
}
input {
  font-size: 10px;
}
.myform{
  position: relative;
  height: calc(100vh - 2rem);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid $fontgray;
  border-radius: 1.1rem;
  outline: 0;
}
.new_user {
  padding: 0 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.form-control, .btn {
  border-radius: 0.5rem;
}
.logo-signup {
  height: calc(100vh - 2rem - 421px);
}
.logo-signin {
  height: calc(100vh - 2rem - 253px);
}
.errors {
  font-size: 0.5rem;
}
.welcome-logout {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 60px;
  color: white;
  &:hover {
    color: $royalgreen;
  }
}
// -----------------------------------
// レコード
// -----------------------------------
.record {
  overflow-x: hidden;
  label, a {
    color: white;
  }
  .record-form, .record-index {
    overflow-y: scroll;
    position: relative;
    height: calc(100vh - 6rem);
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-image: image-url('main.jpeg');
    background-size: cover;
    background-position: 50% 50%;
    outline: 0;
  }
  .record-form {
    display: -ms-flexbox;
    display: flex;
  }
  .exercise-detail-links {
    width: 4.0rem;
    height: 4.0rem;
    margin-right: 0.5rem;
  }
  .record-exercise-links {
    margin-top: 5.0rem;
    padding: 0.5rem;
  }
  .fa-plus-circle {
    font-size: 3.0rem;
  }
  .add-exercise-detail {
    line-height: 3.0rem;
  }
  .add-exercise-detail-circle {
    font-size: 2.9rem;
  }
  .form-group {
    padding: 0.5rem;
    margin-bottom: 0;
  }
  .part-form, .exercise-form, .weight-form, .rep-count-form {
    float: left;
    padding: 0;
  }
  .weight-form, .rep-count-form {
    width: 100%;
  }
  .remove-exercise-circle {
    font-size: 1vw;
    line-height: 1vw;
  }
  .fa-times-circle {
    font-size: 1vw;
    line-height: 1vw;
  }
  .close-circle {
    width: 30px;
    height: 30px;
    margin: 4px 0;
    line-height: 38px;
  }
  .fa-times {
    font-size: 20px;
    vertical-align: top;
    line-height: 30px;
  }
  .row {
    margin: 0;
    width: 100%;
  }
  .record-row {
    margin: 0.5rem;
    margin-bottom: 0;
    width: calc(100vw - 1rem);
    max-width: 500px;
    border-radius: 1rem;
    height: 101px;
  }
  .record-not-confirm {
    border: solid 3px $royalgreen;
  }
  .record-not-confirm-notice {
    position: absolute;
    top: -1rem;
    left: -0.5rem;
    font-size: 15px;
    font-weight: bold;
  }
  .record-show {
    margin: 0.5rem;
    margin-bottom: 0;
    width: calc(100vw - 1rem);
    max-width: 500px;
    border-radius: 1rem;
    height: calc(100vh - 7rem);
  }
  .form-control {
    height: 38px;
  }
  .line-height-38 {
    line-height: 38px;
  }
  .comment-icon {
    line-height: 62px;
    font-size: 2.5rem;
  }
  .comment-icon-inner {
    position: relative;
  }
  .not-confirm-comment-exit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: 10px;
    margin: auto;
    width: 50px;
    height: 50px;
  }
  .not-confirm-comment-exit-inner {
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    width: 20px;
    height: 20px;
  }
  .add_fields:hover, .add_fields:focus {
    color: #f8f9fa !important;
  }
  .record-row-day {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .record-row-day-number {
    font-size: 1.1rem;
  }
  .fa-comment-alt {
    font-size: 40px;
  }
  ul {
    overflow: hidden;
    width: 100%;
    li {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .trainer-image {
    position: absolute;
    right: 0;
    left: 0;
    height: 60px;
    width: 60px;
    overflow: hidden;
  }
  .record-new {
    position: absolute;
    right: 0.9rem;
    bottom: 0.9rem;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 30px;
  }
  .record-new-image {
    margin: 10px 0;
    height: 40px;
    width: 40px;
  }
  .record-new-image a {
    cursor : pointer;
  }
  .record-show-day {
    height: 40px;
  }
  .record-show-detail, .record-show-comment-outer {
    // height: calc(50% - 40px);
    overflow-y: scroll;
    background:
      /* Shadow covers */
      linear-gradient(white 30%, rgba(255,255,255,0)),
      linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
      /* Shadows */
      radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
      radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    // background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-size: 100% 40px, 100% 40px, 100% 5px, 100% 5px;
    background-attachment: local, local, scroll, scroll;
  }
  .record-show-detail {
    height: calc(50% - 65px);
  }
  .record-show-comment-outer {
    height: calc(50% - 65px);
  }
  .full-detail {
    height: calc(100% - 100px);
  }
  .record-show-comment {
    height: calc(50% - 50px);
  }
  .record-show-comment-new {
    height: 60px;
  }
  .record-show-day-text {
    font-size: 22px;
  }
  .fa-edit {
    position: relative;
    font-size: 20px;
  }
  .record-edit {
    position: absolute;
    top: 0;
    right: 0;
  }
  .comment-trainer-image, .comment-user-image {
    height: 31px;
    width: 31px;
  }
  .fa-paper-plane {
    font-size: 30px;
    line-height: 60px;
  }
  .trainer-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trainer-confirm-content {
    margin: 0.5rem;
    margin-bottom: 0;
    width: calc(100vw - 1rem);
    max-width: 500px;
    border-radius: 1rem;
  }
  input#user_icon_image {
    display: none;
  }
  .accordion-btn {
    height: 15px;
    width: 100%;
  }
  .accordion-down {
    padding-top: 3px;
  }
  .accordion-up {
  }
  .down-triangle {
    width: 10px;
    border-top: 6px solid $fontgray;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
  }
  .up-triangle {
    width: 10px;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $fontgray;
    border-left: 6px solid transparent;
  }
  .comment-close {
    height: 0;
  }
  .detail-open {
    height: calc(100% - 117px);
  }
  .record-trainer-title, .record-trainer-name, .record-client-name {
    position: absolute;
    right: 0;
    left: 0;
  }
  .record-trainer-title {
    top: -12px;
  }
  .trainer-not-confirm-text {
    line-height: 60px;
  }
  .record-trainer-name, .record-client-name {
    bottom: -12px;
  }
  .trainer-not-confirm {
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
  }
}
