@import 'color';

// -----------------------------------
// ヘッダー フッター
// -----------------------------------
.header {
  height: 3rem;
  line-height: 3rem;
  .fa-chevron-left {
    position: absolute;
    font-size: 1rem;
    line-height: 3rem;
    left: 1rem;
  }
}
.footer {
  height: 3rem;
  a:hover {
    color: $royalgreen;
  }
  .footer-icon {
    height: 1.5rem;
    line-height: 2rem;
    .fa-list-alt, .fa-cog {
      font-size: 1rem;
    }
  }
  .footer-text {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.5rem;
  }
}
.user-body {
  background:rgba(0, 0, 0, 0.76);
}
// -----------------------------------
// サインアップ・ログインテンプレート
// -----------------------------------
.application-body {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background:rgba(0, 0, 0, 0.76);
}
a {
  text-decoration:none !important;
}
h1,h2,h3, .puente-bold {
  font-family: 'Puente-Bold', 'arial black', 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
}
h1 {
  font-size: 15vmin;
}
label, p, a, li {
  font-size: 0.5rem;
  color: $fontgray;
}
input {
  font-size: 10px;
}
.myform{
  position: relative;
  height: calc(100vh - 2rem);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid $fontgray;
  border-radius: 1.1rem;
  outline: 0;
}
.new_user {
  padding: 0 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.form-control, .btn {
  border-radius: 0.5rem;
}
.logo-signup {
  height: calc(100vh - 2rem - 421px);
}
.logo-signin {
  height: calc(100vh - 2rem - 253px);
}
.errors {
  font-size: 0.5rem;
}
.welcome-logout {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 60px;
  color: white;
  font-family: 'Puente-Bold';
  &:hover {
    color: $royalgreen;
  }
}
// -----------------------------------
// レコード登録
// -----------------------------------
.record {
  overflow-x: hidden;
  label, a {
    color: white;
  }
  .record-form, .record-index {
    overflow-y: scroll;
    position: relative;
    height: calc(100vh - 6rem);
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-image: image-url('main.jpeg');
    background-size: cover;
    background-position: 50% 50%;
    outline: 0;
  }
  .record-form {
    display: -ms-flexbox;
    display: flex;
  }
  .exercise-detail-links {
    width: 4.0rem;
    height: 4.0rem;
    margin-right: 0.5rem;
  }
  .record-exercise-links {
    margin-top: 5.0rem;
    padding: 0.5rem;
  }
  .fa-plus-circle {
    font-size: 3.0rem;
  }
  .add-exercise-detail {
    line-height: 3.0rem;
  }
  .add-exercise-detail-circle {
    font-size: 2.9rem;
  }
  .form-group {
    padding: 0.5rem;
    margin-bottom: 0;
  }
  .part-form, .exercise-form, .weight-form, .rep-count-form {
    float: left;
    padding: 0;
  }
  .weight-form, .rep-count-form {
    width: 100%;
  }
  .remove-exercise-circle {
    font-size: 1vw;
    line-height: 1vw;
  }
  .fa-times-circle {
    font-size: 1vw;
    line-height: 1vw;
  }
  .close-circle {
    width: 30px;
    height: 30px;
    margin: 4px 0;
    line-height: 38px;
  }
  .fa-times {
    font-size: 20px;
    vertical-align: top;
    line-height: 30px;
  }
  .row {
    margin: 0;
    width: 100%;
  }
  .record-row {
    margin: 0.5rem;
    margin-bottom: 0;
    width: calc(100vw - 1rem);
    border-radius: 1rem;
    height: 101px;
  }
  .form-control {
    height: 38px;
  }
  .line-height-38 {
    line-height: 38px;
  }
  .comment-icon {
    line-height: 62px;
    font-size: 2.5rem;
  }
  .add_fields:hover, .add_fields:focus {
    color: #f8f9fa !important;
  }
  .record-row-day {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .record-row-day-number {
    font-size: 1.1rem;
  }
  .fa-comment-alt {
    color: $royalgreen;
  }
  ul {
    overflow: hidden;
    width: 100%;
    li {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
